.home {
    margin: 10;
    background-color: rgb(236, 197, 197);
    padding: 15px;
    margin: 0px;
    display: flex;
    font-family: sans-serif;
    font-weight: bold;
}

.bulbgreen{
    width: 200px;
    height:100px;
    background-color: rgb(35, 252, 35);
    margin: 20px;
    border-radius: 50%;
    border: 5px solid navy; 
    margin-left: 25%;
}
.bulbred{
    width: 200px;
    height:100px;
    background-color:red;
    margin: 20px;
    border-radius: 50%;
    border: 5px solid navy; 
    margin-left: 25%;
}
.bulb{
    width: 200px;
    height:100px;
    background-color: white;
    margin: 20px;
    border-radius: 50%;
    border: 5px solid navy; 
    margin-left: 25%;
}


button{
    color: darkred;
    font-size: 25px;
    margin: 5px;
}
span {
    font-size: 20px;
    width: 40px;
    color: brown;
    font-family: sans-serif;
    margin-left: 50px;


}

p {
    font-size: 18px;
    font-style: italic;
    font-weight: bold;
    margin-left: 20px;
}

img {
    width: 200px;
    height: 200px;
    border: solid black;
    box-shadow: 2px 2px 2px 6px rgb(81, 255, 81);
     margin-top: 10px;
}

marquee {
    color: navy;
    font-size: 22px;
    font-weight: bold;
}

.proditem {
    margin: 5px;
    padding: 5px;
    border: 5px dotted rgb(75, 8, 8);
    border-radius: 30px;
    width: 30%;
    text-align: center;

}
.playeritem {
    margin: 5px;
    padding: 5px;
    border: 5px solid rgb(3, 3, 3);
    border-radius: 30px;
    width: 30%;
    background-color: aliceblue;
    text-align: center;
    position: relative;
    bottom:5px;

}
.playeritem img {
    margin: 10px;
   height: 60px;
   width: 60px;



}