.navbar {
    background-color: aquamarine;
    padding: 10px;
    padding-bottom: 25px;
    padding-left: 400px;
    font-weight: bold;
    

}

    .navbar a {
        margin-left: 20px;
        font-size: 20px;
        padding: 5px;
        text-decoration: none;
        
        
    }